@media screen and (min-width:700px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul.open{
        flex-direction: row;
    }

    header h1{
        font-size: x-large;
    }

    #cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 5px
    }

    #menu-button{
        display: none;
    }

}