@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

h1 {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
  }
  
:root{
    /*--background-color: #330051 ; 
    --header-color: #451082 ;
    --accent-color: #2d519f ;
    --font-color: #ff8832 ;
    --font2-color: #D1F5BE;*/

    --header-color: #1F2F16 ;
    --font1-color: #F7D6E0 ;
    --font2-color: #B2ECE1 ;
    --box-color: #2D728F ; 
    --background-color: #ECFDFE ;
}

#content{
    background-color: var(--background-color);
    text-align: center;
}

ul{
    list-style: none;
}

#dark-mode{
    background-color: white;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#dark-mode::before{
    content: "🌙";
}

#dark-mode.dark::before{
    content: "☀️";
}

#menu-button{
    background-color: inherit;
    font-size: 2rem;
    padding: .5rem;
    border: none;
    align-content: center;
}

#menu-button::before{
    content: "≡";
    color: var(--font2-color);
    background-color: var(--box-color) ;
    border: 2px solid;
    border-color: var(--background-color) ;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#menu-button.open::before{
    content: "X";
    color: var(--font2-color) ;
}


header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--header-color);
}

header img{
    height: 150px;
    margin: 20px;
}

header h1{
    text-align: center;
    margin-top: 40px;
    color: white;
    font-style: url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap') ;
}

nav ul{
    background-color: var(--accent-color);
    padding-inline-start: 0px;
    display: none;
}

nav ul li:hover{
    background-color: var(--background-color);
}

nav ul li{
    text-align: center;
    margin: 20px;
    border-radius: 30%;
    padding: 15px;
}

nav ul.open{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav ul li a:hover{
    color: var(--header-color);
    cursor: help;
}

#hero{
    border-top: 2px solid var(--header-color);
    border-bottom: 2px solid var(--header-color);
    max-height: 400px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}


#hero button{
    position: absolute;
    top: 50px;
	left: 50px;
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.9;
    background-color: var(--header-color); 
    color: var(--font2-color);
    margin: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 2px;
    border-radius: 20px;
    font-size: large;
}

.cards{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    background-color: var(--box-color);
    color: var(--font2-color);
}

#current-weather {
    color: var(--font2-color);
    background-color: var(--box-color);
    border: 2px var(--header-color) solid;
    display: inline-block;
    padding: 0.5em;
}

#forecast{
    display: inline-flex;
    flex-direction: row;
    margin: 2em;
    color: var(--font2-color);
    background-color: var(--box-color);
    border: 2px var(--header-color) solid;
    padding: 0.5em;
}

footer{
    padding: 1em;
    background-color: var(--header-color);
    color: var(--font1-color);
    text-align: center;
}
footer ul li a{
    color: var(--font1-color);
}
footer ul li a:hover{
    color: var(--font2-color);
}

/* productlist.html */
#productcards section{
background-color: var(--box-color);
color: var(--font2-color);
border: 2px var(--header-color) solid;
border-radius: 50px 100px;
text-align: center;
padding: 0.5em;
flex-direction: row;
margin: 2em;
}

/*About Us*/

.aboutcompany h2{
    color: var(--header-color);
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}
.aboutcompany hr{
    border: 1px var(--header-color) solid;
    width: 90%;
}
.aboutcompany p{
    color: var(--header-color);
}

.reasons div{
color: var(--font2-color);
background-color: var(--box-color);
border: 2px var(--header-color) solid;
margin: 1rem;
}
.reasons hr{
    border: 1px var(--header-color) solid;
    width: 90%;
}