@media screen and (min-width:900px){
    /* Order Page */
    
    #orderitem {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr;
    }

    .productinfo{
        grid-column: 2;
    }
    
    form {
        grid-column: 1;
        grid-row: 1;
    }


}