@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --background-color: rgb(183, 206, 207); 
    --header-color: rgb(51, 51, 132);
    --accent-color: cadetblue;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
}
#content{
    max-width: 800px;
    margin: 0 auto;
}
main{
    display: grid;
    grid-template-columns: 1fr;
}
ul{
    list-style: none;
}
header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--header-color);
}
header img{
    height: 150px;
    margin: 20px;
}
header h1{
    text-align: center;
    margin-top: 40px;
    color: white;
}

hr{
    border-color: black;
    margin: 5px;
}

#menu-button{
    background-color: inherit;
    font-size: 2rem;
    padding: .5rem;
    color: var(--background-color);
}

#menu-button::before{
    content: "≡";
}

#menu-button.open::before{
    content: "X";
}

nav ul{
    background-color: var(--accent-color);
    padding-inline-start: 0px;
    display: none;
}

nav ul li:hover{
    background-color: var(--background-color);
}

nav ul li{
    text-align: center;
    margin: 20px;
    border-radius: 30%;
    padding: 15px;
}

nav ul.open{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav ul li a:hover{
    color: var(--header-color);
    cursor: help;
}

main h2{
    text-align: center;
}

.temple {
    text-align: center;
    position: relative;
}

.temple p{
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: var(--background-color);
    color: black;
    padding: .5rem;
    border: 2px var(--header-color) solid;
    border-radius: 4px;
}

footer{
    text-align: center;
    background-color: var(--header-color);
}

footer p{
    color: white;
}

.card{
    border-style: solid;
    border-color: white;
    border-width: 5px;
    padding: 10px;
    margin: 5px;
}

.card h3{
    background-color: var(--header-color);
    text-align: center;
    color: white;
}



#map{
    display: grid;
    grid-template-columns: 1fr;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    padding: 10px;
    margin: 5px;
    align-self: center;
    width: 92%;
    text-align: center;
}

#map iframe {
    width: 100%;
    border: none; 
    text-align: center;
}

label{
    display: block;    
}

input{
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: .3rem;
}

button{
    font-size: 1.5rem;
    background-color: var(--header-color);
    padding: .3rem;
    border-radius: 3px;
    color: white;
}

input[type=text], input[type=range], input[type=radio] {
	margin: 1rem;
	padding: 0.5em;
}

#password:invalid{
    background-color: lightpink;
}

#password:valid{
    background-color: lightgreen;
}



#range {
	width: 180px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: navy;
}

#myrange {
	display: flex;
	margin: 0 0 0 25px;
	width: 200px;
    padding-bottom: 0.5em;
}

#myrange option {
	flex: 1 1 auto;
}